<ul class="list_post">
    {% for post in site.posts %}
    <li>
        <strong class="tit_link"><a href="{{ post.url }}"><i class="fas fa-pen-square"></i> {{ post.title }}</a></strong>
        <div class="txt_post">{{ post.excerpt }}</div>
        <div class="meta_post">
            category : 
            {% if post %}
            {% assign categories = post.categories %}
            {% else %}
            {% assign categories = page.categories %}
            {% endif %}
            {% for category in categories %}
            <a href="{{site.baseurl}}/category/{{category|slugize}}" class="link_tag">{{category}}</a>
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>