---
layout: default
---
<script src="https://nona99.github.io/back/js/jquery-1.11.0.min.js"></script>
<script>
$(function(){
    $('.list_post li').each(function() {
        if($.trim($(this).html())==='') {
            $(this).remove();
        }
    });
})
</script>
<section class="wrapper style5">
    <div class="inner" {% if page.image %}style="background-image: url({{ page.image }});" {% endif %}>
        <h2 class="tit_page">{{ page.title | default: page.name }}</h2>
        <p>All Posts in <strong>'{{ page.name }}'</strong></p>
        <ul class="list_post">
            {% for post in site.posts %}
            <li>
                {% if post.categories contains page.name %}
                <strong class="tit_link"><a href="{{ post.url }}">{{ post.title }}</a></strong>
                <div class="txt_post">{{ post.excerpt }}</div>
                <div class="meta_post">
                	category : 
                    {% if post %}
                    {% assign categories = post.categories %}
                    {% else %}
                    {% assign categories = page.categories %}
                    {% endif %}
                    {% for category in categories %}
                    <a href="{{site.baseurl}}/category/{{category|slugize}}" class="link_tag">{{category}}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>